body{
    background-color: #563f46;
    color: white;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.widget-container {
    width: 612px;
    height: 412px;
    display: block;
    background-color: #877077;
    border-radius: 25px;
  /*   border: 5px solid #eceff1; */
    margin: 0 auto;
  }

.top-left {
    width: 50%;
    height:60%;
    display: inline-block;
}

#reportLocation{
    padding-top: 15px;
    padding-left: 15px;
}

.temp-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temperature{
    font-size: 50px;
}

#temp-units{
    margin-left: 10px;
    font-size: medium;
}
#low-temp{
    margin-left: 10px;
}

.temp-sub-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.top-right {
    width: 50%;
    height:60%;
    float: right;
    justify-content: center;
    align-items: center;
}

#todayWeatherHeader{
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
}

.todayWeatherBox{
    margin-left: 38px;
    overflow: hidden;
    width: 75%;
    height:75%;
}

img.todayWeatherIcon{
    min-width: 100%;
    transform: translate(0,-20%);
}

.bottom{
    width: 100%;
    height:40%;
}

.card-deck {
    width: 100%;
    height: 80%;
    display: flex;
}

.card{
    position: relative;
    min-width: 0;
    width: 14%;
    background-color: #06662b;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: x-small;
    word-wrap: unset;
}

.card-img-top{
    width: 100%;
    height: auto;
}

.card-body {
    padding: 2px;
}

.row{
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}